.pricing {
  width: 100%;
  max-width: 1300px;
  display: flex;
  padding: 48px 0px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.pricing-container {
  width: 100%;
  max-width: 944px;
  padding: 0 28px;
  margin: 0 auto;
}

.headings-container {
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  padding: 12px 0;
  margin-bottom: 24px;

  @media screen and (min-width: 576px) {
    max-width: 671px;
  }
}

.heading {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #28323c;
}

.container-for-cards {
  width: 100%;
  max-width: 888px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
