.choose-package {
  width: 100%;
  max-width: 496px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  border: 1px solid #f3f5f7;
  border-radius: 36px;
  background-color: #f3f5f7;
}
