.container {
  width: 100%;
  position: relative;
}

.select-options_hide {
  width: calc(100% - 12px);
  position: absolute;
  left: 6px;
  top: 94px;
  transition: all 0.28s;

  visibility: hidden;
  transform: scale(0.1);
}

.select-options_show {
  width: calc(100% - 12px);
  position: absolute;
  left: 6px;
  top: 94px;
  transition: all 0.28s;

  visibility: visible;
  transform: scale(1);
}
