.footer {
  width: 100%;
  max-width: 1300px;
  padding: 48px 0;
  background-color: #f3f5f7;
}

.container-footer {
  width: 100%;
  max-width: 944px;
  padding: 0 28px;
  margin: 0 auto;
}

.container-titles {
  width: 100%;
  max-width: 486px;
}

.title {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #b5bdc8;
  margin-bottom: 24px;

  &__span {
    display: block;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
  }
}
